body {
    height: 100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: hsl(233, 47%, 7%);
}

* {
    margin:0;
    padding:0
}
section{
    background-color: hsl(244, 38%, 16%);
    display: flex;
    color:hsl(0, 0%, 100%)
}
@media (max-width:767px) {
    section {
        flex-direction: column-reverse;
        width: 300px;
        border-radius: 10px;
        overflow: hidden;
    }
}
section .content {
    padding: 70px;
    max-width: 50%;
}
@media (max-width:767px) {
    section .content {
        text-align: center;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }
}
section .content h1 {
    width:400px;
    font-size:35px
}
@media (max-width:767px) {
    section .content h1 {
        font-size: 24px;
        width:220px
    }
}
section .content p {
    color:hsla(0, 0%, 100%, 0.75);
    margin-top:20px;
    margin-bottom: 50px;
    line-height:1.7;
    width: 350px;
}
@media (max-width:767px) {
    section .content p {
        margin-top: 10px;
        margin-bottom: 30px;
    }
}
section .content .other {
    display: flex;
    justify-content: space-between;
    align-items:center;
    width:350px
}
@media (max-width:767px) {
    section .content .other {
        flex-direction: column;
        gap:20px;
    }
}
section .content .other span {
    display: block;
}
section .content .other span:first-of-type {
    color:hsl(0, 0%, 100%);
    font-weight: bold;
    font-size: 25px;
}
section .content .other span:last-of-type {
    color:hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;
}
section .image {
    position: relative;
    width: 50%;
}
@media (max-width:767px) {
    section .image {
        width:100%
    }
}
section .image::before {
    content:"";
    position:absolute;
    width:100%;
    height: 100%;
    background-color: hsl(277deg 64% 61% / 70%);
}
section .image img {
    width: 100%;
    max-width: 100%;
    height: 100%;
}
